@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSansKR-Light";
  font-weight: normal;
  src: url("./fonts/NotoSansKR-Light.ttf") format("truetype");
}

.image .swiper-button-next {
  background: url(assets/imgbtn.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
}

.image .swiper-button-prev {
  background: url(assets/imgbtn.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
  transform: rotate(180deg);
}

.image .swiper-button-next::after,
.image .swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet {
  background-color: rgb(153, 255, 0);
}
.swiper-pagination-bullet-active {
  background-color: rgb(153, 255, 0);
}
